html, body, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.container1{
  width: 73.6%;

}

#reviews{
  width: 73.6%;
  margin-left: 4%;
}

.container2{
  width: 23%;
  position: sticky;
  top: 0;
  padding-left: 3%;
  padding-top: 1%;
  border-left: 1px solid rgb(238,240,241);
  align-self: flex-start;
  height: 100vh
}



.head{
  width: 100%;
  border-bottom: 2px rgb(238,240,241) solid;
}


.foot {
  margin-top: 200px;
  width: 100%;
}

#footer {
  width: 100%;
}

#header {
  width: 100%;
}